*{
    margin: 0;
   
    overflow-x: hidden;
    
}

@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');
.main{
    background-image: url("cover5.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
}

.navbar img{
    width: 240px;
    position: absolute;
    left: 80px;
    height: auto;
}
.nav-link{
    color: #fff;
    position: relative;
    top: 50px;
    left: 320px;
    

}

.navbar{
    height: 120px;
    background-color: transparent;
    width: 100%;
    overflow: hidden;
    position: sticky;

}
.nav-link a{
    color: #fff;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;
    font-weight: bold;
    font-size: small;
}
.shopmen a{
    color: #fff;
    position: relative;
    top: 0;
    left: 0;

}
#shop{
    position: relative;
    left: 250px;
}
.nav-link img{
    width: 20px;
    height: 20px;
    position: relative;
    left: 260px;
    top: 5px;
}
.header{
    color: #fff;
    padding-left: 80PX;
    position: absolute;
    bottom: 100px;
}
.header h5{
    font-size: 20px;
    font-weight: 350;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
.header button{
    width: 150px;
    height: 50px;
    border: 2px solid white;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    margin-top: 20px;

}
.header button :hover{
    width: 150px;
    height: 50px;
    border: 1px solid white;
    background-color: #fff;
    color: black;
    font-weight: 700;
}
.main-up{
    background-image: url(cover.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}
.main-mid{
    background-image: url(cover2.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;

}

.main-bottom{
    background-image: url(cover3.jpg);
    background-size: cover;
    height: 90vh;
    position: relative;

}
.footer{
    width: 100%;
    height: 80px;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer a{
    text-decoration: none;
    padding: 10px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-size: 11px;
    

}

.footer :nth-child(2){
    
    font-weight: bold;

}
.footer :nth-child(3){

    font-weight: bold;
}
